body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #fafafa;
  color: #333;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden; /* Evita scroll horizontal */
}

#root {
  width: 100%;
  min-height: 100vh;
}

* {
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}